
#container{
  /*container has to be relative so that the canvases can be positioned absolutly within the container
  (as opposed to absolutley withing the whole document*/)
  position: relative;
  margin:auto;
  width: 90%;
}

.canvas{
  position: absolute;
  margin: auto;
  top: 20;
  border:black 3px solid;
}

body{
  width: 50%;
  margin: 0 auto;
}
