#container{
  /*container has to be relative so that the canvases can be positioned absolutly within the container
  (as opposed to absolutley withing the whole document*/)
  position: relative;
}

.container2{
  position: relative;
  top: 500px;
}
.canvas{
  top: 0;
  left: 0;
}
#canvas1{
  background: 'black';
  border:black 3px solid;
}

body{
  width: 50%;
  margin: 0 auto;
}
